<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='home_style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    <div id="top-bar">
        <h1>TMA Project 2</h1>
        
    </div>

    <div id="dashboard">
        <div id="menu">            
            <a href="{{url_for('start_sampling')}}" class="menu-button">Sampling</a> <!-- New menu item for Sampling -->
            <a href="{{url_for('analyze_folder')}}" class="menu-button">Analise Sampling</a> 
            <a href="{{url_for('connection_analysis')}}" class="menu-button">Track</a>
            <a href="{{url_for('plotsMenu')}}" class="menu-button">MONITORING DATA</a>
            <a href="{{url_for('analizerConf')}}" class="menu-button">ANALIZER CONFIGURATION</a>
        </div>
        <div id="content">
            <h1>Welcome to the Dashboard</h1>
            {% if confirmation_message %}
                <div id="confirmation-message">
                    <p>{{ confirmation_message }}</p>
                </div>
            {% endif %}

        <div id="connection-analysis">
            <h2>Connection Analysis</h2>
            <div id="unique-ips">
                <h2>Our Network IPs</h2>
                {% for ip in our_network_ips %}
                    <p>{{ ip }}
                        <button onclick="trackSingleIp('{{ ip }}')">Track IP</button>
                    </p>
                {% endfor %}
            </div>
            <div id="miner-connections">
                <h3>Mining Connections</h3>
                {% for connection in miner_connections %}
                    <p>{{ connection.source_ip }} to {{ connection.destination_ip }}
                        <button onclick="trackConnection('{{ connection.source_ip }}', '{{ connection.destination_ip }}')">Track</button>
                    </p>
                {% endfor %}
            </div>

            <div id="warning-connections">
                <h3>Warning Connections</h3>
                {% for connection in warning_connections %}
                    <p>{{ connection.external_ip }} to {{ connection.other_ip }}
                        <button onclick="trackConnection('{{ connection.source_ip }}', '{{ connection.destination_ip }}')">Track</button>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        function trackSingleIp(ip) {
            // Send a POST request to track a single IP
            $.post('{{ url_for("track_single_ip") }}', { ip: ip }, function(data) {
                alert("Tracking started for IP: " + ip);
            });
        }

        function trackConnection(ip1, ip2) {
            // Send a POST request to track a connection
            $.post('{{ url_for("track_connection") }}', { ip1: ip1, ip2: ip2 }, function(data) {
                alert("Tracking started for IPs: " + ip1 + " and " + ip2);
            });
        }

    </script>
</body>
</html>
